/*home page*/
ul.remove-bullet {
    list-style-type: none;
}

.tagcloud a:hover {
    background-color: transparent !important;
}

.button.icon.circle {
    color: #364d6a;
}

.demo-button:hover {
    background-color: #0073aa!important;
    transform: translateX(0)
}

.demo-lightbox {
    max-width: 1000px!important
}

.demo-lightbox img {
    width: 100%
}

@media (min-width:550px) {
    #text-box-488783341 {
        width: 50%
    }
}
